@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased;
}

/* Tiptap editor */

.ProseMirror {
  min-height: 100%;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  cursor: text;
}

.ProseMirror:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ProseMirror p {
  margin: 0;
  border: none !important;
  outline: none !important;
}

.ProseMirror p:focus {
  border: none !important;
  outline: none !important;
}